// Customize variables


// Here we're adjusting the hue of that default:
$btn-primary-bg: adjust-hue($btn-primary-bg, +20deg);

// NOTE: $gray-dark is defined in _variables.scss
$body-bg: $gray-lighter;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         green !default;
$brand-info:            blue !default;
$brand-warning:         orange !default;
$brand-danger:          red !default;
